<%- include('partials/header') %>

  <div class="jumbotron text-center">
    <div class="container">
      <i class="fas fa-key fa-6x"></i>
      <h1 class="display-3">You've Discovered My Secret!</h1>
      <p class="secret-text" style="color:teal;">As a child I would often dream that I had fallen into a river but when I woke up I would find that I had done something!</p>


    </div>
  </div>

  <%- include('partials/footer') %>